   *{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* transition:1s */
   } 
   ::-webkit-scrollbar {
    width: 11px;
  }
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,#37D0A0,#30C6B7);
    border-left:1px solid #fff;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg,rgb(50, 190, 146),rgb(45, 189, 174));
  }   
  
  /* scrollBat style end */
   .positionPreventScrolling{
       /* position:fixed; */
       overflow: hidden;
       /* position: absolute */
   }
   ul{
        list-style: none;
    }
    a{
        text-decoration: none
    }
    body{
        overflow-x: hidden
    }
    .container {
        background-image:url('../img/header-BG.png') ;
        background-repeat: no-repeat;
        background-size: 100% 900px;  
        overflow:hidden 
    }
    .container main{
        width:1170px; 
        margin:0 auto;
        padding-top:30px
    }
    .container main header{
        /* height:2000px;   */
        
    }
    .container main header ul{
        display: flex;
        width: 350px;
        justify-content: space-between
    }
    .container main header ul a{
        color:black;
    }
    #navContainer{
        z-index:49
    }
    header nav{
        display:flex;
        justify-content: space-between;
        align-items: center ;
        margin: 0 auto;
        width:1170px;
    }
    .navScrollDown{
        position:fixed;
        background-color:#fff;
        transition:.3s;
        top:0;
        padding:10px 0;
        animation: scrolldown .3s 1 forwards;
        left:0;
        padding:10px 10px;
        width:100vw;
        box-shadow:0px 5px 30px #9a9a9a69;
        border-bottom:#39d1a0 solid 1px 
    }
    .navFixedScrollUp{
       position:fixed;
       background-color:#fff;
       transition:.3s;
       top:0;
       left:0;
       padding:10px 10px;
       width:100vw;
       animation: scrollUp .3s 1;
       box-shadow:0px 5px 30px #9a9a9a69;
       border-bottom:#39d1a0 solid 1px 
    }
    @keyframes scrollUp{
        0%{
            transform: translateY(-70px);
        }
        100%{
            transform: translate(0);
        }
    }
    @keyframes scrolldown{
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-70px);
        }
    }
    .partnerStyleOnSCroll{
        background: linear-gradient(45deg,#37D0A0,#30C6B7)!important ;
        border-color: #39d1a0 !important;
        color: white !important;
        box-shadow:none !important;
    }
    .partnerStyleOnSCroll:hover{
        background: white!important ;
        border-color: #39d1a0 !important;
        color: #39d1a0 !important;
    }
    .navScrollDown>nav>div:nth-child(2)>ul a:hover{
        color:#39d1a0;
    }
    .navScrollDown>nav>div:nth-child(2)>ul a:hover:after{
        background:#39d1a0
    }
    nav>div:nth-child(2){
        display:flex;
        justify-content: space-between;
        width:700px;
        align-items: center
    }
    nav>div:nth-child(2)>a{
        color:#39d1a0;
        padding:12px 50px;
        font-weight: 700;
        border-radius:50px;
        border:white solid 2px;
        outline:none;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
        -webkit-font-smoothing: antialiased;
        background-color:white;
        transition: .3s
    }
    nav>div:nth-child(2)>a:hover{
        background: none;
        color: white;
        box-shadow: none
    }
     /* navbar hover effect */
     nav ul li a,
     nav ul li a:after,
     nav ul li a:before {
       transition: all .3s;
     }
     nav ul li a:hover {
       color: #fff;
     }
    .stroke ul li a{
        position: relative;
        padding: 15px 0;
    }

    .stroke ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #fff;
        height: 1px;
    }
    .stroke ul li a:hover:after {
        width: 100%;
    }
    
    nav svg{
        display:none
    }

    /* banner style start */

    header .bannerContainer {
        width:1170px;
        padding: 120px 0;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    header .bannerContainer #left_side_banner{
        width:500px;
        margin-bottom: 120px;
    }
    header .bannerContainer #left_side_banner h1{
        color:#fff;
        text-transform: uppercase;
        font-size:40px
    }
    header .bannerContainer #left_side_banner p{
        color:#535353;
        width:335px;
        line-height: 25px;
    }
    header .bannerContainer #left_side_banner>div{
        margin-top:80px;
    }
    header .bannerContainer #left_side_banner>div h3{
        color:#fff;
        margin:12px 0;
        padding-left:15px;
    }
    header .bannerContainer #left_side_banner>div>div{
        display:flex;
    }
    header .bannerContainer #left_side_banner>div>div .appStores{
        background: white;
        padding:10px;
        border-radius:50px;
        width:180px;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow:0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
        user-select:none;
        cursor:pointer;
        border: 2px solid #fff;
        transition:.3s
    }
    header .bannerContainer #left_side_banner>div>div .appStores:hover{
        background: none;
        border: 2px solid #fff;
        color:#fff;
        box-shadow:none;
    }
    .appStores>div{
        margin-left:8px
    }
    #left_side_banner>div:nth-child(2)>div>a{
        color:#2f2f2f 
    }
    #left_side_banner>div>div div.appStores:nth-child(1){
        margin-right:30px;
    }
    #left_side_banner>div>div div.appStores:nth-child(1) img{
        width:30px;   
    }
    #left_side_banner>div:nth-child(2)>div>a:nth-child(2) img{
        width:25px;
        margin-left:5px
        
    }
    #left_side_banner>div>div .appStores h5,#left_side_banner>div>div .appStores h6{
        margin:0;
    }
    #left_side_banner>div>div .appStores h6{
        font-weight:500;
    }
    #left_side_banner>div>div .appStores h5{
        font-size:17px
    }

    header #right_side_banner{
        margin-top: 105px;
        background:#fff;
        width:527px;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        color:#404040;
        height:180px;
    }
    header #right_side_banner>div>img{
        transform: translateX(20px) translateY(-60px);
    }
    header #right_side_banner>div:nth-child(1){
        margin:20px 0 0 30px
    }
    header #right_side_banner>div:nth-child(1)>h2{
        margin:10px 0
    }
    header #right_side_banner>div:nth-child(1)>p{
        font-size:11px;
        margin:10px 0
    }
    header #right_side_banner span{
        font-size:13px
     }
    header #right_side_banner span:nth-child(1){
       color:#fff;
       padding:5px 10px;
       background: #39d1a0;
       border-radius: 50px;
       margin-right:10px;
       font-weight: 900;
    }
    header #right_side_banner span:nth-child(2){
        text-decoration: line-through;
     }
    







    @media (min-width: 992px) and (max-width: 1199px) { 
        .container main{
            width:970px; 
        }
        .container main header ul {
            width: 300px;
        } 
        nav>div:nth-child(2){
            width:600px;
        } 
        header .bannerContainer {
            width:970px;
        }
        header nav{
            width:970px;
        }
       
    }
    @media (min-width: 768px) and (max-width: 991px) { 
        .container main{
            width:750px; 
        }
        .container main header ul {
            width: 280px;
        } 
        header nav{
            width:750px;
        }
        nav>div:nth-child(2){
            width:500px;
        }
        header .bannerContainer {
            width:750px;
            flex-direction:column;
            padding-top:30px
        }
        header .bannerContainer #left_side_banner{
            width:100%;
            margin-bottom: 50px;
            display:flex;
            justify-content: space-between;
        }
        header .bannerContainer #left_side_banner>div:nth-child(2){
            display:flex;
            flex-direction: column;
            align-items: flex-end
        }
        header .bannerContainer #left_side_banner>div>div{
            display:flex;
            flex-direction: column;
            align-items: flex-end
        }
        #left_side_banner>div>div div.appStores:nth-child(1){
            margin:0;
            margin-bottom: 30px;
        }
        header .bannerContainer #left_side_banner>div h3{
            align-self: flex-start
        }
        header #right_side_banner{
            width:100%;
            margin-bottom:120px
        }
        header #right_side_banner>div>img{
            width:400px;
            transform: translateX(10px) translateY(-130px);
        }
     }
    
     @media (max-Width :767px){
        .container {
            width:100vw
        }
         body{
             overflow-x:hidden
         }
        .container main{
            width:auto; 
            padding:20px 10px
        }
        header nav{
            width:auto;
        }
        header .bannerContainer #left_side_banner h1{
            font-size:30px
        }
        nav>div:nth-child(2){
            display:none;
            opacity: 0;
            width:162px;
            margin-top:60px;
            flex-direction: column;
            transition:.3s;
            z-index:50;
            position: fixed;
            top: 10px;
            left: calc(50% - 81px);
        }  
        .partnerMobileScroll{
            color:#37D0A0 !important;
            background: #fff !important;
        }
        main header ul{
            flex-direction: column;
            justify-content: center;
            align-items:center;
            padding:0;
            width: 100% !important;
        }
        nav>div:nth-child(2)>a{
            color:white;
            background: linear-gradient(45deg,#37D0A0,#30C6B7);
            box-shadow:none;
        }
        main header ul li{
            padding:30px 0;
        }
        nav>svg{
            position: fixed;
            right:10px;
            top:20px;
            transition:.3s;
            z-index:20
        }
        nav svg{
            display:block;
            width:60px;
            height:60px
        }
        nav svg circle{
            cx:30px;
            cy:30px;
            position: absolute;
        }
        .changeBurgerColor{
            background:#fff !important;
        }
        .changeBurgerColor:after{
            background:#fff !important;
        }
        .changeBurgerColor:before{
            background:#fff !important;
        }
        nav>div:nth-child(3){
            width:138px;
            display: flex;
            justify-content: flex-end
        }
        .burger_Clicked{
            transform:scale(40);
        }
        .oppacityMenuNav{
            opacity: 1 !important;
        }
        .ShowMenu{
            display:flex !important;
            
        }
        header nav {
            align-items: stretch;
        }
        header .bannerContainer {
            width:auto;
            flex-direction:column;
            padding-top:30px
        }
        header .bannerContainer #left_side_banner>div>div{
            justify-content: space-around
        }
        header .bannerContainer #left_side_banner{
            width:auto
        }
        #left_side_banner>div>div div.appStores:nth-child(1){
            margin-right:0
        }
        header .bannerContainer #left_side_banner>div>div .appStores{
            width:145px;
            padding: 8px 5px;
        }
        #left_side_banner>div>div .appStores h5{
            font-size:14px;
        }
        header #right_side_banner{
            position:relative;
            width: calc(100% - 20px);
            margin: auto;
            margin-bottom:120px;
            height:150px
        }
        header #right_side_banner>div>img{
            position:absolute;
            top: -46px;
            right: -54px;
            width: 240px;
            transform:none;
        }
        header #right_side_banner>div:nth-child(1)>h2{
            width:180px;
            font-size:20px;
            margin:0
        }
        header #right_side_banner>div:nth-child(1) {
            margin: 15px 0 0 15px;
        }
        header #right_side_banner>div:nth-child(1)>p{
            width:150px;
            font-size:10px
        }
     }
     @media (max-Width :350px){
        header .bannerContainer #left_side_banner>div>div{
            flex-direction: column;
            /* align-content: center */
            /* align-items: center */
        }
        #left_side_banner>div>div div.appStores:nth-child(1){
            margin-bottom:15px
        }
        header .bannerContainer #left_side_banner h1 {
            font-size: 29px;
        }
        header .bannerContainer #left_side_banner p {
            width: 300px;
            font-size:14px
        }
     }

.comCaMarchPart{
    padding:50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}
.comCaMarchPart>div{
    display:flex;
    width:100%;
    justify-content: space-around
}
.comCaMarchPart input[type="radio"]{
    display:none;
    
}
.comCaMarchPart>h1{
    font-weight: 400;
    margin-bottom: 120px
}
.comCaMarchPart #comCaMarchPartLeft{
    width:300px;
}
.comCaMarchPart #comCaMarchPartLeft>div{
    width:40px;
    margin:35px 10px;
    fill:#39d1a0
}
.comCaMarchPart #comCaMarchPartLeft label svg{
    margin:0 10px 5px;
    fill:#39d1a0
}
.comCaMarchPart #comCaMarchPartLeft>div:nth-child(1) label svg,
.comCaMarchPart #comCaMarchPartLeft>div:nth-child(2) label svg{
    width:30px;

}

.comCaMarchPart #comCaMarchPartLeft>div:nth-child(3) label svg,
.comCaMarchPart #comCaMarchPartLeft>div:nth-child(4) label svg{
    width:40px;
    height:40px;
    margin-bottom:0
}

.comCaMarchPart #comCaMarchPartLeft label>div{
    display:flex;
    align-items: center;
    border-radius:50px;
    margin:20px 0;
    padding:10px 25px;
    justify-content: flex-start;
    align-items: flex-end;
    width:260px;
    height:60px;
    font-weight: 900;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    text-transform: uppercase;
    color:#2f2f2f;
    cursor:pointer;
    transition: .3s;
}
.comCaMarchPart #comCaMarchPartLeft label>div:hover{
    transform:scale(1.05);
    box-shadow: 0 1px 10px 0 #298c6c50, 0 1px 10px 1px #298c6c50;

}
.comCaMarchPart #comCaMarchPartLeft label>div div:nth-child(1){
    color:#39d1a0;
    font-weight: 500
}
.comCaMarchPart #comCaMarchPartLeft input[type="radio"]:checked+label>div{
    background: linear-gradient(45deg,#37D0A0,#30C6B7);
    color:#fff !important;
    box-shadow: none
}
.comCaMarchPart #comCaMarchPartLeft input[type="radio"]:checked+label>div:hover{
    transform:scale(1);
}
.comCaMarchPart #comCaMarchPartLeft input[type="radio"]:checked+label>div svg{
    fill:#fff !important
}

.comCaMarchPart #comCaMarchPartLeft input[type="radio"]:checked+label>div div:nth-child(1){
    color:#fff 
}
.comCaMarchPart #comCaMarchPartRight{
    display:flex;
    width:700px;
    justify-content: space-around;
    padding-top:20px;
    transition: .3s;
}
.comCaMarchPart #comCaMarchPartRight>div:nth-child(2) h1:nth-child(1){
    color:#39d1a0;
}

.comCaMarchPart #comCaMarchPartRight>div:nth-child(2) img{
    width:60px
}
.comCaMarchPart #comCaMarchPartRight>div:nth-child(1) img{
    height:365px;
}
.comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
    width:400px
}
.comCaMarchPart #comCaMarchPartRight h1{
    text-transform: uppercase
}
#commeCaTitle{
    animation: anime 1s 1;

}
@keyframes anime {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .comCaMarchPart #comCaMarchPartRight{
        justify-content: center;
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
        width:280px;
        margin-left:20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .comCaMarchPart>div{
        justify-content: space-between;
    }
    .comCaMarchPart #comCaMarchPartRight{
        justify-content: flex-end;
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
        width:200px;
        margin-left:20px;
    }
    .comCaMarchPart #comCaMarchPartRight h1{
        font-size:23px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2) p{
        font-size:10px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2) img{
        width:50px
    }
}

@media (max-Width :767px){
    .comCaMarchPart>div{
        flex-direction: column;
    }
    .comCaMarchPart{
        width:auto
    }
    .comCaMarchPart #comCaMarchPartLeft{
        display: flex;
        justify-content: space-around;
        margin:0 auto
    }
    .comCaMarchPart #comCaMarchPartLeft label>div{
        width:60px;
        height:60px;
        align-items: center;
        justify-content: center;
        padding: 5px
    }
    .commentCaMarchText_display_none{
        display:none;
    }
    .comCaMarchPart>h1{
        font-size: 30px;
        margin-bottom:30px
    }
    .comCaMarchPart #comCaMarchPartLeft>div{
        width:60px
    }
    .comCaMarchPart #comCaMarchPartRight{
        width:auto;
        height:255px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
        margin-left:20px
    }
    .comCaMarchPart #comCaMarchPartRight h1{
        font-size:18px
    }
    .comCaMarchPart #comCaMarchPartRight p{
        font-size:10.8px;
        line-height: 18px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2) img{
        width:30px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(1) img{
        height:230px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
        width:auto
    }
    /* .comCaMarchPart #comCaMarchPartLeft label>div */
}