*{
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* transition:1s */
   } 
   ::-webkit-scrollbar {
    width: 11px;
  }
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
  ::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(45deg,#37D0A0,#30C6B7);
    background: linear-gradient(45deg,#37D0A0,#30C6B7);
    border-left:1px solid #fff;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(45deg,rgb(50, 190, 146),rgb(45, 189, 174));
    background: linear-gradient(45deg,rgb(50, 190, 146),rgb(45, 189, 174));
  }   
  .browserupgrade{
      display:block !important;
      width:100%;
      padding:20px;
      margin:0 auto;
      background:#fff;
      border-top:solid 1px #37D0A0;
      z-index:7000
  }
  .browserupgrade a{
      color:#37D0A0
  }
  /* scrollBat style end */
   .positionPreventScrolling{
       /* position:fixed; */
       overflow: hidden;
       /* position: absolute */
   }
   ul{
        list-style: none;
    }
    a{
        text-decoration: none
    }
    body{
        overflow-x: hidden
    }
    #logo{
        width:150px;
        display:block !important
    }
    .logoStyle path{
        fill:#39d1a0
    }
    .logoStyle polygon{
        width:150px;
        fill:#39d1a0
    }
    .container {
        background-image:url('../img/header-BG.png') ;
        background-repeat: no-repeat;
        background-size: 100% 900px;  
        overflow:hidden 
    }
    .container main{
        width:1170px; 
        margin:0 auto;
        padding-top:30px
    }
    .container main header{
        /* height:2000px;   */
        
    }
    .container main header ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 350px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between
    }
    .container main header ul a{
        color:black;
    }
    #navContainer{
        z-index:49
    }
    header nav{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center ;
            -ms-flex-align: center ;
                align-items: center ;
        margin: 0 auto;
        width:1170px;
    }
    .navScrollDown{
        position:fixed;
        background-color:#fff;
        -webkit-transition:.3s;
        -o-transition:.3s;
        transition:.3s;
        top:0;
        padding:10px 0;
        -webkit-animation: scrolldown .3s 1 forwards;
                animation: scrolldown .3s 1 forwards;
        left:0;
        padding:10px 10px;
        width:100vw;
        -webkit-box-shadow:0px 5px 30px #9a9a9a69;
                box-shadow:0px 5px 30px #9a9a9a69;
        border-bottom:#39d1a0 solid 1px 
    }
    .navFixedScrollUp{
       position:fixed;
       background-color:#fff;
       -webkit-transition:.3s;
       -o-transition:.3s;
       transition:.3s;
       top:0;
       left:0;
       padding:10px 10px;
       width:100vw;
       -webkit-animation: scrollUp .3s 1;
               animation: scrollUp .3s 1;
       -webkit-box-shadow:0px 5px 30px #9a9a9a69;
               box-shadow:0px 5px 30px #9a9a9a69;
       border-bottom:#39d1a0 solid 1px 
    }
    @-webkit-keyframes scrollUp{
        0%{
            -webkit-transform: translateY(-70px);
                    transform: translateY(-70px);
        }
        100%{
            -webkit-transform: translate(0);
                    transform: translate(0);
        }
    }
    @keyframes scrollUp{
        0%{
            -webkit-transform: translateY(-70px);
                    transform: translateY(-70px);
        }
        100%{
            -webkit-transform: translate(0);
                    transform: translate(0);
        }
    }
    @-webkit-keyframes scrolldown{
        0%{
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        100%{
            -webkit-transform: translateY(-70px);
                    transform: translateY(-70px);
        }
    }
    @keyframes scrolldown{
        0%{
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        100%{
            -webkit-transform: translateY(-70px);
                    transform: translateY(-70px);
        }
    }
    .partnerStyleOnSCroll{
        background: -webkit-linear-gradient(45deg,#37D0A0,#30C6B7)!important ;
        background: -o-linear-gradient(45deg,#37D0A0,#30C6B7)!important ;
        background: linear-gradient(45deg,#37D0A0,#30C6B7)!important ;
        border-color: #39d1a0 !important;
        color: white !important;
        -webkit-box-shadow:none !important;
                box-shadow:none !important;
    }
    .partnerStyleOnSCroll:hover{
        background: white!important ;
        border-color: #39d1a0 !important;
        color: #39d1a0 !important;
    }
    .navScrollDown>nav>div:nth-child(2)>ul a:hover{
        color:#39d1a0;
    }
    .navScrollDown>nav>div:nth-child(2)>ul a:hover:after{
        background:#39d1a0
    }
    nav>div:nth-child(2){
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width:700px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center
    }
    nav>div:nth-child(2)>a{
        color:#39d1a0;
        padding:12px 50px;
        font-weight: 700;
        border-radius:50px;
        border:white solid 2px;
        outline:none;
        -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
                box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
        -webkit-font-smoothing: antialiased;
        background-color:white;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s
    }
    nav>div:nth-child(2)>a:hover{
        background: none;
        color: white;
        -webkit-box-shadow: none;
                box-shadow: none
    }
     /* navbar hover effect */
     nav ul li a,
     nav ul li a:after,
     nav ul li a:before {
       -webkit-transition: all .3s;
       -o-transition: all .3s;
       transition: all .3s;
     }
     nav ul li a:hover {
       color: #fff;
     }
    .stroke ul li a{
        position: relative;
        padding: 15px 0;
    }

    .stroke ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #fff;
        height: 1px;
    }
    .stroke ul li a:hover:after {
        width: 100%;
    }
    
    nav svg{
        display:none
    }

    /* banner style start */

    header .bannerContainer {
        width:1170px;
        padding: 120px 0;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    header .bannerContainer #left_side_banner{
        width:500px;
        margin-bottom: 120px;
    }
    header .bannerContainer #left_side_banner h1{
        color:#fff;
        text-transform: uppercase;
        font-size:40px
    }
    header .bannerContainer #left_side_banner p{
        color:#535353;
        width:335px;
        line-height: 25px;
    }
    header .bannerContainer #left_side_banner>div{
        margin-top:80px;
    }
    header .bannerContainer #left_side_banner>div h3{
        color:#fff;
        margin:12px 0;
        padding-left:15px;
    }
    header .bannerContainer #left_side_banner>div>div{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    header .bannerContainer #left_side_banner>div>div .appStores{
        background: white;
        padding:10px;
        border-radius:50px;
        width:180px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
                box-shadow:0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
        -webkit-user-select:none;
           -moz-user-select:none;
            -ms-user-select:none;
                user-select:none;
        cursor:pointer;
        border: 2px solid #fff;
        -webkit-transition:.3s;
        -o-transition:.3s;
        transition:.3s
    }
    header .bannerContainer #left_side_banner>div>div .appStores:hover{
        background: none;
        border: 2px solid #fff;
        color:#fff;
        -webkit-box-shadow:none;
                box-shadow:none;
    }
    .appStores>div{
        margin-left:8px
    }
    #left_side_banner>div:nth-child(2)>div>a{
        color:#2f2f2f 
    }
    #left_side_banner>div>div div.appStores:nth-child(1){
        margin-right:30px;
    }
    #left_side_banner>div>div div.appStores:nth-child(1) img{
        width:30px;   
    }
    #left_side_banner>div:nth-child(2)>div>a:nth-child(2) img{
        width:25px;
        margin-left:5px
        
    }
    #left_side_banner>div>div .appStores h5,#left_side_banner>div>div .appStores h6{
        margin:0;
    }
    #left_side_banner>div>div .appStores h6{
        font-weight:500;
    }
    #left_side_banner>div>div .appStores h5{
        font-size:17px
    }

    header #right_side_banner{
        margin-top: 105px;
        background:#fff;
        width:527px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        color:#404040;
        height:180px;
    }
    header #right_side_banner>div>img{
        -webkit-transform: translateX(20px) translateY(-60px);
            -ms-transform: translateX(20px) translateY(-60px);
                transform: translateX(20px) translateY(-60px);
    }
    header #right_side_banner>div:nth-child(1){
        margin:20px 0 0 30px
    }
    header #right_side_banner>div:nth-child(1)>h2{
        margin:10px 0
    }
    header #right_side_banner>div:nth-child(1)>p{
        font-size:11px;
        margin:10px 0
    }
    header #right_side_banner span{
        font-size:13px
     }
    header #right_side_banner span:nth-child(1){
       color:#fff;
       padding:5px 10px;
       background: #39d1a0;
       border-radius: 50px;
       margin-right:10px;
       font-weight: 900;
    }
    header #right_side_banner span:nth-child(2){
        text-decoration: line-through;
     }
    







    @media (min-width: 992px) and (max-width: 1199px) { 
        .container{
            background-size: 120% 900px;  
        }
        .container main{
            width:970px; 
        }
        .container main header ul {
            width: 300px;
        } 
        nav>div:nth-child(2){
            width:600px;
        } 
        header .bannerContainer {
            width:970px;
        }
        header nav{
            width:970px;
        }
       
    }
    @media (min-width: 768px) and (max-width: 991px) { 
        .container{
            background-size: 150% 900px;  
        }
        .container main{
            width:750px; 
        }
        .container main header ul {
            width: 280px;
        } 
        header nav{
            width:750px;
        }
        nav>div:nth-child(2){
            width:500px;
        }
        header .bannerContainer {
            width:750px;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
                -ms-flex-direction:column;
                    flex-direction:column;
            padding-top:30px
        }
        header .bannerContainer #left_side_banner{
            width:100%;
            margin-bottom: 50px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        header .bannerContainer #left_side_banner>div:nth-child(2){
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end
        }
        header .bannerContainer #left_side_banner>div>div{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end
        }
        #left_side_banner>div>div div.appStores:nth-child(1){
            margin:0;
            margin-bottom: 30px;
        }
        header .bannerContainer #left_side_banner>div h3{
            -ms-flex-item-align: start;
                align-self: flex-start
        }
        header #right_side_banner{
            width:100%;
            margin-bottom:120px
        }
        header #right_side_banner>div>img{
            width:400px;
            -webkit-transform: translateX(10px) translateY(-130px);
                -ms-transform: translateX(10px) translateY(-130px);
                    transform: translateX(10px) translateY(-130px);
        }
     }
    
     @media (max-Width :767px){
        .container {
            width:100vw;
            background-image:url('../img/BG-mobile.png') ;
        }
         body{
             overflow-x:hidden
         }
        .container main{
            width:auto; 
            padding:20px 10px
        }
        header nav{
            width:auto;
        }
        header .bannerContainer #left_side_banner h1{
            font-size:30px
        }
        nav>div:nth-child(2){
            display:none;
            opacity: 0;
            width:162px;
            margin-top:60px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-transition:.3s;
            -o-transition:.3s;
            transition:.3s;
            z-index:50;
            position: fixed;
            top: 10px;
            left: calc(50% - 81px);
        }  
        .partnerMobileScroll{
            color:#37D0A0 !important;
            background: #fff !important;
        }
        main header ul{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            padding:0;
            width: 100% !important;
        }
        nav>div:nth-child(2)>a{
            color:white;
            background: -webkit-linear-gradient(45deg,#37D0A0,#30C6B7);
            background: -o-linear-gradient(45deg,#37D0A0,#30C6B7);
            background: linear-gradient(45deg,#37D0A0,#30C6B7);
            -webkit-box-shadow:none;
                    box-shadow:none;
        }
        main header ul li{
            padding:30px 0;
        }
        nav>svg{
            position: fixed;
            right:10px;
            top:20px;
            -webkit-transition:.3s;
            -o-transition:.3s;
            transition:.3s;
            z-index:20
        }
        nav svg{
            display:block;
            width:60px;
            height:60px
        }
        nav svg circle{
            cx:30px;
            cy:30px;
            position: absolute;
        }
        .changeBurgerColor{
            background:#fff !important;
        }
        .changeBurgerColor:after{
            background:#fff !important;
        }
        .changeBurgerColor:before{
            background:#fff !important;
        }
        nav>div:nth-child(3){
            width:138px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end
        }
        .burger_Clicked{
            -webkit-transform:scale(40);
                -ms-transform:scale(40);
                    transform:scale(40);
        }
        .oppacityMenuNav{
            opacity: 1 !important;
        }
        .ShowMenu{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;
            
        }
        header nav {
            -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
        }
        header .bannerContainer {
            width:auto;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
                -ms-flex-direction:column;
                    flex-direction:column;
            padding-top:30px
        }
        header .bannerContainer #left_side_banner>div>div{
            -ms-flex-pack: distribute;
                justify-content: space-around
        }
        header .bannerContainer #left_side_banner{
            width:auto
        }
        #left_side_banner>div>div div.appStores:nth-child(1){
            margin-right:0
        }
        header .bannerContainer #left_side_banner>div>div .appStores{
            width:145px;
            padding: 8px 5px;
        }
        #left_side_banner>div>div .appStores h5{
            font-size:14px;
        }
        header #right_side_banner{
            position:relative;
            width: calc(100% - 20px);
            margin: auto;
            margin-bottom:0px;
            height:150px
        }
        header #right_side_banner>div>img{
            position:absolute;
            top: -46px;
            right: -54px;
            width: 240px;
            -webkit-transform:none;
                -ms-transform:none;
                    transform:none;
        }
        header #right_side_banner>div:nth-child(1)>h2{
            width:180px;
            font-size:20px;
            margin:0
        }
        header #right_side_banner>div:nth-child(1) {
            margin: 15px 0 0 15px;
        }
        header #right_side_banner>div:nth-child(1)>p{
            width:150px;
            font-size:10px
        }
     }
     @media (max-Width :350px){
        header .bannerContainer #left_side_banner>div>div{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; 
        }
        #left_side_banner>div>div div.appStores:nth-child(1){
            margin-bottom:15px
        }
        header .bannerContainer #left_side_banner h1 {
            font-size: 29px;
        }
        header .bannerContainer #left_side_banner p {
            width: 300px;
            font-size:14px
        }
     }

.comCaMarchPart{
    padding:50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around
}
.comCaMarchPart>div{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    -ms-flex-pack: distribute;
        justify-content: space-around
}
.comCaMarchPart input[type="radio"]{
    display:none;
    
}
.comCaMarchPart>h1{
    font-weight: 400;
    margin-bottom: 120px
}
.comCaMarchPart #comCaMarchPartLeft{
    width:300px;
}
.comCaMarchPart #comCaMarchPartLeft>div{
    width:40px;
    margin:35px 10px;
    fill:#39d1a0
}
.comCaMarchPart #comCaMarchPartLeft label svg{
    margin:0 10px 5px;
    fill:#39d1a0
}
.comCaMarchPart #comCaMarchPartLeft>div:nth-child(1) label svg,
.comCaMarchPart #comCaMarchPartLeft>div:nth-child(2) label svg{
    width:30px;

}

.comCaMarchPart #comCaMarchPartLeft>div:nth-child(3) label svg,
.comCaMarchPart #comCaMarchPartLeft>div:nth-child(4) label svg{
    width:40px;
    height:40px;
    margin-bottom:0
}

.comCaMarchPart #comCaMarchPartLeft label>div{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius:50px;
    margin:20px 0;
    padding:10px 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width:260px;
    height:60px;
    font-weight: 900;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    text-transform: uppercase;
    color:#2f2f2f;
    cursor:pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.comCaMarchPart #comCaMarchPartLeft label>div:hover{
    -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
            transform:scale(1.05);
    -webkit-box-shadow: 0 1px 10px 0 #298c6c50, 0 1px 10px 1px #298c6c50;
            box-shadow: 0 1px 10px 0 #298c6c50, 0 1px 10px 1px #298c6c50;

}
.comCaMarchPart #comCaMarchPartLeft label>div div:nth-child(1){
    color:#39d1a0;
    font-weight: 500
}
.comCaMarchPart #comCaMarchPartLeft input[type="radio"]:checked+label>div{
    background: -webkit-linear-gradient(45deg,#37D0A0,#30C6B7);
    background: -o-linear-gradient(45deg,#37D0A0,#30C6B7);
    background: linear-gradient(45deg,#37D0A0,#30C6B7);
    color:#fff !important;
    -webkit-box-shadow: none;
            box-shadow: none
}
.comCaMarchPart #comCaMarchPartLeft input[type="radio"]:checked+label>div:hover{
    -webkit-transform:scale(1);
        -ms-transform:scale(1);
            transform:scale(1);
}
.comCaMarchPart #comCaMarchPartLeft input[type="radio"]:checked+label>div svg{
    fill:#fff !important
}

.comCaMarchPart #comCaMarchPartLeft input[type="radio"]:checked+label>div div:nth-child(1){
    color:#fff 
}
.comCaMarchPart #comCaMarchPartRight{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:700px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top:20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.comCaMarchPart #comCaMarchPartRight>div:nth-child(2) h1:nth-child(1){
    color:#39d1a0;
}

.comCaMarchPart #comCaMarchPartRight>div:nth-child(2) img{
    width:60px
}
.comCaMarchPart #comCaMarchPartRight>div:nth-child(1) img{
    height:365px;
}
.comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
    width:400px
}
.comCaMarchPart #comCaMarchPartRight h1{
    text-transform: uppercase
}
/* #commeCaTitle{
    -webkit-animation: anime 1s 1;
            animation: anime 1s 1;

} */
/* @-webkit-keyframes anime {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}
@keyframes anime {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
} */

@media (min-width: 992px) and (max-width: 1199px) { 
    .comCaMarchPart #comCaMarchPartRight{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
        width:280px;
        margin-left:20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .comCaMarchPart>div{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .comCaMarchPart #comCaMarchPartRight{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
        width:200px;
        margin-left:20px;
    }
    .comCaMarchPart #comCaMarchPartRight h1{
        font-size:23px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2) p{
        font-size:10px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2) img{
        width:50px
    }
}

@media (max-Width :767px){
    .comCaMarchPart>div{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .comCaMarchPart{
        width:auto
    }
    .comCaMarchPart #comCaMarchPartLeft{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin:0 auto
    }
    .comCaMarchPart #comCaMarchPartLeft label>div{
        width:60px;
        height:60px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 5px
    }
    .commentCaMarchText_display_none{
        display:none;
    }
    .comCaMarchPart>h1{
        font-size: 30px;
        margin-bottom:30px
    }
    .comCaMarchPart #comCaMarchPartLeft>div{
        width:60px
    }
    .comCaMarchPart #comCaMarchPartRight{
        width:auto;
        height:255px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
        margin-left:20px
    }
    .comCaMarchPart #comCaMarchPartRight h1{
        font-size:18px
    }
    .comCaMarchPart #comCaMarchPartRight p{
        font-size:10.8px;
        line-height: 18px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2) img{
        width:30px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(1) img{
        height:230px
    }
    .comCaMarchPart #comCaMarchPartRight>div:nth-child(2){
        width:auto
    }
    /* .comCaMarchPart #comCaMarchPartLeft label>div */
}








/* Testimonials part start Here */
#testimoialsContainer{
    background-image:url(../img/dotted-bg.png);
    background-attachment: fixed;
    height:550px;
    padding:20px 20px
}
#testimoialsContainer>h1{
    text-align: center;
    margin-bottom:100px;
    font-weight:400
}
.section {
    width: 1170px;
    margin: 0 auto; }
  
  .testimony-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  
  .testimony-item {
    background: url(../img/Shape_3.svg) no-repeat;
    background-size: cover;
    /* display: inline-block;    */
    width: 285px;
    height: 280px;
    padding: 40px 0 0 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: ubuntu, sans-serif;
    position: relative; }
    .testimony-item::before {
      content: "";
      position: absolute;
      right: 28px;
      top: 48px;
      width: 70px;
      height: 50px;
      background: url(../img/quote.png) no-repeat;
      background-size: cover;
      background-position: center; }
    .testimony-item .testimony-pic {
      width: 70px;
      height: 70px;
      background: url(../img/testimony-pic.jpg) no-repeat;
      -webkit-transform: translateX(-5px);
          -ms-transform: translateX(-5px);
              transform: translateX(-5px);
      background-size: cover;
      background-position-y: 26%;
      border-radius: 50%;
      border: 5px solid #32c8b4;
      margin-bottom: 10px;
      cursor: pointer; }
    .testimony-item h1 {
      text-transform: uppercase;
      font-size: 13pt;
      color: #2f2f2f;
      margin-bottom: 8px; }
    .testimony-item h6 {
      color: #beffeb;
      font-size: 9pt;
      font-weight: 300;
      margin: 0px; }
    .testimony-item p {
      font-size: 9pt;
      color: #ffffff;
      font-weight: 400;
      width: 240px;
      margin:10px 0;
      padding-right:20px;
      line-height:18px
     }
     .testimony-item .testimony-social-media a{
        height:15px
     }
    .testimony-item .testimony-social-media {
      position: absolute;
      width: 90px;
      height: 30px;
      background: #32c8b4;
      border-radius: 50px 50px 0 50px;
      -webkit-box-align:center;
          -ms-flex-align:center;
              align-items:center;
      left: -55px;
      top: 25px;
      display:none;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding: 0 5px;
      opacity: 0;
      -webkit-transform: translate(5px, 5px) translate(0, 0);
          -ms-transform: translate(5px, 5px) translate(0, 0);
              transform: translate(5px, 5px) translate(0, 0);
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      .testimony-item .testimony-social-media img {
        width: 15px;
        cursor: pointer; }
  
  .show {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important; }


    @media (min-width: 992px) and (max-width: 1199px) { 
       .section {
            width: 970px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) { 
        .section{
            width: 750px;
        }
        .testimony-item{
            width: 234px;
            height: 230px;
            padding: 40px 0 0 20px;
        }
        .testimony-container{
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        .testimony-item .testimony-pic{
            width:60px;
            height:60px;
            /* transform: translateX(-22px); */
        }
        .testimony-item h1{
            font-size:11pt
        }
        .testimony-item h6{
            font-size:8pt
        }
        .testimony-item p{
            width:205px;
            font-size:8pt;
            margin:5px 0;
            line-height: 13px
        }
        .testimony-item::before{
            width:60px;
            height:40px;
            right:15px
        }
        .testimony-item .testimony-social-media{
            top:8px;
            left:-50px
        }
    }
    @media (max-Width :767px){
        #testimoialsContainer{
            padding:20px 0;
            height:auto
        }
        .testimony-item {
            background-size: 100%;
            margin:0 20px
            /* margin-left:40px */
         }
        .section {
            width: auto;
        }
        .testimony-item .testimony-pic{
            width:50px;
            height:50px;
            -webkit-transform: translateX(-5px);
                -ms-transform: translateX(-5px);
                    transform: translateX(-5px)
        }
        .testimony-item::before{
            width:50px;
            height:30px;
            top:50px;
            right:10px
        }
        .testimony-item h1{
            font-size:11pt;
            margin:0 0 5px
        }
        .testimony-item h6{
            font-size:7pt
        }
        .testimony-item p{
            font-size:6.5pt;
            margin:2px 0;
            width:190px
        }
        .testimony-item{
            padding:40px 0 0 20px
        }
        .testimony-item .testimony-pic{
            margin-bottom:0px
        }
        .slick-slide{
            /* width: 300px !important; */
            /* width:100vw !important */
            height:300px !important
        }
        .slick-track{
            /* width:5000px !important */
        }
        .testimony-item .testimony-social-media{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            opacity: 1;
            left: -55px;
            top: 10px;
            width:70px
        }
    }




/* Trusted us part start here */

#trustedUs{
    /* height:900px; */
    width:100%;
    text-align: center;
    padding:30px 0
}
#trustedUs>h1{
    font-weight:400;
    margin:40px 0
}
#trustedUs>div{
    width:1170px;
    margin:50px auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
}
#trustedUs>div div svg{
    width:100px !important;
    height:100px !important
}
#trustedUs>div div svg {
    cursor:pointer
}
#trustedUs>div div svg path{
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s;
    fill:#acacac !important;  
} 
#trustedUs>div div svg:hover path{
    fill:#33cab1 !important;
} 

@media (min-width: 992px) and (max-width: 1199px) { 
    #trustedUs>div{
        width:970px;  
    }
 }
 @media (min-width: 768px) and (max-width: 991px) { 
    #trustedUs>div{
        width: 750px;
    }
}

@media (max-Width :767px){
    #trustedUs>div{
        width: auto;
        padding:20px
    }
    #trustedUs>div div{
        overflow:hidden
    }
    #trustedUs>div div svg{
        width:50px !important;
        height:50px !important
    }
}



/* footer style start here */


footer{
    width:100%;
    padding:150px 0 15px;
    background-image:url(../img/bg-footer.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

footer #footer-container{
    width:1170px;
    padding:10px 0;
    margin:0 auto;
    display:-ms-grid;
    display:grid;
    grid-gap: 10px;
    grid-row-gap: 50px;
        grid-template-areas:'left-top left-top . . . right-top right-top'
                        'left-bottom left-bottom center-bottom center-bottom center-bottom right-bottom right-bottom'
}
footer #footer-container .item1 {-ms-grid-row: 1;-ms-grid-column: 1;-ms-grid-column-span: 3;grid-area: left-top;}
footer #footer-container .item2 { -ms-grid-row: 3; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-area: left-bottom;}
footer #footer-container .item3 { -ms-grid-row: 3; -ms-grid-column: 5; -ms-grid-column-span: 5; grid-area: center-bottom;}
footer #footer-container .item4 { -ms-grid-row: 1; -ms-grid-column: 11; -ms-grid-column-span: 3; grid-area: right-top;}
footer #footer-container .item5 { -ms-grid-row: 3; -ms-grid-column: 11; -ms-grid-column-span: 3; grid-area: right-bottom;}



footer #footer-container .item1 a{
    color: #2f2f2f;
}
footer #footer-container .item1>div {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:180px
}
footer #footer-container .item1>div>a>div {
    padding:8px;
}
footer #footer-container .item1 h3{
    color:#fff;
    margin:12px 0;
    padding-left:15px;
}
footer #footer-container .item1 h5,footer #footer-container .item1 h6{
    margin: 0;
}
footer #footer-container .item1 h5{
    font-size:17px
}
footer #footer-container .item1 h6{
    font-weight: 500
}
footer #footer-container .item1 .appStores{
    border-radius:50pc;
    background:white;
    width:170px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border:#fff 2px solid;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
footer #footer-container .item1 .appStores:nth-child(1){
    margin-right:10px;
}
footer #footer-container .item1 .appStores:hover{
    background:transparent;
    color:#fff;
    -webkit-box-shadow: none;
            box-shadow: none
}
footer #footer-container .item1 .appStores img{
    width:25px;
    height:25px
}

footer #footer-container .item1 .appStores .appStoresAppel{
    width:30px;
    height:30px
}
footer #footer-container .item1 .appStores .appStoresAndroid{
    margin-left:5px
}
footer #footer-container .appStores>div{
    margin-left:8px
}
footer #footer-container .item2 ul{
    margin:0;
    padding:0
}
footer #footer-container .item2 li{
    
    padding:0 0 10px
}
footer #footer-container .item2 a{
    color:#2f2f2f;
    -webkit-transition : color .3s;
    -o-transition : color .3s;
    transition : color .3s;
}
footer #footer-container .item2 a:hover{
    color:#fff
}
footer #footer-container .item2 .active{
    font-weight: 900
}

footer .item3{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}

footer .item3 img{
    width:100px;
    padding-bottom: 3px
}
footer .item3 h3{
    margin:0 0 0 5px;
    font-size:13.5px;
    color:#fff;
    font-weight:400
}
footer .item4 {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
footer .item4 a{
    padding:14px 50px ;
    background: #fff;
    border:2px solid #fff;
    color:#30C6B7;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    border-radius: 50px;
    margin-top: 44px !important;
    font-weight:600;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
footer .item4 a:hover{
   -webkit-box-shadow: none;
           box-shadow: none;
   background: transparent;
   color:#fff
}
footer .item5 a{
    color:#2f2f2f;
    -webkit-transition:color .3s;
    -o-transition:color .3s;
    transition:color .3s 
}
footer .item5 a:hover{
    color:#30C6B7
}
footer .item5 {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end
}
footer .item5 ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:5px 0;
    margin:0;
    border-radius: 50px;
    background:#fff;
    width:120px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
footer .item5 ul li{
    margin-top:3px
}
footer .item5 ul i{
    font-size:18px;
}


@media (min-width: 992px) and (max-width: 1199px) { 
    footer{
        background-size: 115% 100%;
    }
    footer #footer-container{
        width:970px;   
    }
 }
 @media (min-width: 768px) and (max-width: 991px) { 
     footer{
        background-size: 120% 100%;
     }
    footer #footer-container{
        width: 750px; 
    }
}

@media (max-Width :767px){
    footer{
        background-image:url(../img/bg-phone-footer.png);
        background-repeat: no-repeat;
        
     }
    footer #footer-container{
        width: 100%;
        padding:20px;
            grid-template-areas:'right-top right-top'
                            'left-top left-top'
                            'left-bottom right-bottom'
                            'center-bottom center-bottom';
        padding:0 20px
    }

    footer .item4 a{
        width:100%;
        text-align: center;
    }
    footer #footer-container .item1>div{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width:100%
    }
    footer #footer-container .item1 .appStores{
        width:152px
    }
    footer .item5 ul{
        margin:0 10px 10px 0
    }
    footer #footer-container .item1{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3
    }
    footer #footer-container .item2{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1
    }
    footer #footer-container .item3{
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3
    }
    footer #footer-container .item4{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3
    }
    footer #footer-container .item5{
        -ms-grid-row: 5;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1
    }
}